.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

.text-box {
    margin: auto;
    background-color: grey;
    color: white;
    width: 35%;
    padding: 15px;
    border: 5px solid black;
    margin-top: 10%;
    /* height: 10%; */
}

.text-box > p {
    font-size: 32px;
}

.text-box > h1 {
    text-align: center;
}

.close-btn {
    border: 1px solid black;
    background-color: green;
    font-size: 24px;
    /* width: 10px; */
    /* height: 10px; */
    color: white;
    margin-left: 90%;
    border-radius: 5px;
    box-shadow: 2px 1px 1px black;
}

.close-btn:active {
    transform: translateY(3px);
    transform: translateX(1px);
}